.spec-card {
  width: 384px;
  height: 455px;
  background: rgba(160, 128, 64, 0.3);
  border: 1px dashed #ffce6d;
  padding-top: 73px;
}

.spec-img {
  width: 80px;
  height: 80px;
}

.spec-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 117.3%;
  text-align: center;
  text-transform: capitalize;
  padding-top: 15px;
}

.spec-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 155.3%;
  text-align: justify;
  letter-spacing: 0.13em;
  text-transform: capitalize;
  width: 268px;
  height: 128px;
  margin: 0 auto;
  padding-top: 17px;
}
