.header {
  height: 974px;
  background: linear-gradient(180deg, rgba(16, 20, 24, 0) 0%, #101418 100%),
    url(/public/assets/bg1.png);
  padding-top: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: 355px;
  height: 106px;
  text-align: center;
  margin-top: 284px;
  font-size: 45px;
  line-height: 53px;
}

.header-p {
  margin-top: 18px;
}

.read-more {
  margin-top: 47px;
}
