@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fffccc;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

Nav {
  position: sticky;
  top: 0;
}

button:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}

button:hover {
  background-color: #ffce6d;
}

li:hover {
  background-color: #ffce6d;
}

a {
  text-decoration: none;
}
